/**
 * @name GGO Kirito
 * @author VaporousCreeper
 * @version 1.2.X
 * @description A theme with Kirito and Deathgun fighting in GGO (Gun Gale Online)
 * @source https://github.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/tree/master/Themes/GGO_Kirito
 */

@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githubusercontent.com/RomeJee/IShowSpeed/main/core.css');

:root{
    --background: url('https://staticg.sportskeeda.com/editor/2022/03/199c9-16468646951546-1920.jpg');
    --activetext-colour: white;

    --primary1-colour: red;
    --primary2-colour: rgba(255,0,0,0.5);
    --primary3-colour: rgba(100,0,0,0.6);

    --secondary1-colour: rgba(50,50,50,0.3);
    --secondary2-colour: rgba(100,100,100,0.5);
    --secondary3-colour: rgba(0,0,0,0.5);

    --transparency-1: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-2: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-3: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-4: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    --transparency-5: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0.5));
}
  
/*
Theme Owned and Made by RomeJee
  
Background Img: hhttps://i.ytimg.com/vi/wYZux3BMc5k/maxresdefault.jpg
Transparency2 Module: https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css - By Ruben7173#5048

The 2 items above are not owned by me, They go to there respected owners 
*/
